@model IEnumerable<kingshoes.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Layout_admin/_Layout.cshtml";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Thêm mới danh mục", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Cập nhập", "EditCategory", new { id = item.Id }) |
                @Html.ActionLink("Xoá", "DeleteCategory", new { id = item.Id })
            </td>
        </tr>
    }

</table>
